.transactions-list {
  flex-wrap: wrap;
  margin-top: 5px;
  float: left;
  width: 60vw;
  max-height: 65vh;
  overflow-y: scroll;
}
.add-transaction-card-btn {
  float: right;
  align-content: center;
}
