.operation-date {
  display: inline-block;
  max-width: fit-content !important;
  margin-left: 0.5em;
}
.operation-amount {
  max-width: 50%;
  margin-bottom: 1em;
}
.operation-category {
  max-width: 50%;
}
.operation-type {
  margin-top: 0.3em !important;
}
.row-label {
  max-width: 20% !important;
}
.modal-body .description-input {
  max-width: 70%;
}
