.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-card {
  padding: 1em 3em;
}
.submit-btn {
  padding-top: 2em;
  padding-bottom: 1em;
}
.register-link {
  margin-left: 0.5em;
}
